[Unit]
Description=TON miner
After=network.target

[Service]
RestartSec=5
Restart=always
WorkingDirectory=/opt/ton-mine
ExecStart=/opt/ton-mine/tonlib-cuda-cli -v 2 -C global.config.json -e 'pminer start kf8SYc83pm5JkGt0p3TQRkuiM58O9Cr3waUtR9OoFq716lN- EQB0xI73hOZ0VoTk_RAch3RZ7orx9CkYzvS_S2ssjVyDUajD 0 256 '

[Install]
WantedBy=multi-user.target
Alias=miner_gpu0.service
